<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SolsticeAPIContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=SolsticeAPIContext-20160427220832; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|SolsticeAPIContext-20160427220832.mdf"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>