<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SolsticeAPI_dbConnectionString" connectionString="Data Source=solstice-server.database.windows.net;Initial Catalog=SolsticeAPI_db;Persist Security Info=True;User ID=solstice;Password=Sun4you!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <sessionState cookieless="true" regenerateExpiredSessionId="false" timeout="60"/>
    <pages theme="Solstice"></pages>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>