<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SolsticeAPIContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=SolsticeAPIContext-20160427220832; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|SolsticeAPIContext-20160427220832.mdf"
      providerName="System.Data.SqlClient" />
    <add name="SolsticeAPI_dbConnectionString" connectionString="Data Source=solstice-server.database.windows.net;Initial Catalog=SolsticeAPI_db;Persist Security Info=True;User ID=solstice;Password=Sun4you!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState
    cookieless="true"
    regenerateExpiredSessionId="true"
    timeout="60" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
