<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnString" connectionString="Server=tcp:solstice-server.database.windows.net,1433;Database=SolsticeMath618;User ID=solstice@solstice-server;Password=Sun4you!;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState
    cookieless="true"
    regenerateExpiredSessionId="true"
    timeout="60" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
