<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://solstice286.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>solstice286.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Solstice286</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Solstice286</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SolsticeAPI_dbConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:solstice-server.database.windows.net,1433;Initial Catalog=Solstice286387;User ID=solstice@solstice-server;Password=Sun4you!" Name="Data Source=tcp:solstice-server.database.windows.net,1433;Initial Catalog=Solstice286387;User Id=solstice@solstice-server;Password=Sun4you!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=solstice-server.database.windows.net;Initial Catalog=SolsticeAPI_db;Persist Security Info=True;User ID=solstice;Password=Sun4you!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SolsticeAPI_dbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=solstice-server.database.windows.net;Initial Catalog=SolsticeAPI_db;Persist Security Info=True;User ID=solstice;Password=Sun4you!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SolsticeAPIContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:solstice-server.database.windows.net,1433;Initial Catalog=Solstice286387;User ID=solstice@solstice-server;Password=Sun4you!" Name="Data Source=tcp:solstice-server.database.windows.net,1433;Initial Catalog=Solstice286387;User Id=solstice@solstice-server;Password=Sun4you!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|SolsticeAPIContext-20160427220832.mdf;Initial Catalog=SolsticeAPIContext-20160427220832;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SolsticeAPIContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=SolsticeAPIContext-20160427220832; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|SolsticeAPIContext-20160427220832.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SolsticeAPIContext-Web.config Connection String">
      <ParameterValue>data source=tcp:solstice-server.database.windows.net,1433;initial catalog=Solstice286387;user id=solstice@solstice-server;password=Sun4you!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SolsticeAPI_dbConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:solstice-server.database.windows.net,1433;Initial Catalog=Solstice286387;User Id=solstice@solstice-server;Password=Sun4you!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>